html
  head
    meta(charset='utf-8')
    title Color with Me
    link(rel='stylesheet' href="public/css/styles.css")
    style
      include ../public/css/styles.css
    body
      div(id="cursors")
    canvas(id="paper" width="190" height="100") 
    div(id="sidebar" style="width:200px;right:0")
      div(class="w3-main" style="margin-right:200px")
    
      
        
    div(id="mySidebar" class="sidebar")
      div(id="sidebar" style="margin-right:200px")
        div(id="mario-chat" )
          button.btn-default(href="javascript:void(0)" onclick="closeNav()") close chat
          h2 Chat
          div(id="chat-window" style="float:left")
            div(id="output")
            div(id="feedback")
          input(id="handle" type="text" placeholder="handle")
          input(id="message" type="text" placeholder="message")
          button(id="send") Send
      
    div(id="main")
      button(class="openbtn" onclick="openNav()") toggle
    footer
      p(id='onlineCounter' href='') Players connected: 0
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.js")
    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="public/js/script.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(type="text/javascript" src="./chat1.js")
    script.
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        }
      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        } 

        
