


*{
	margin:0;
	padding:0;
}



html{
	overflow:hidden;
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#444;

}

a, a:visited {
	outline:none;
	color:#43819b;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

hgroup{
	position: fixed;
	background-color: rgba(136, 122, 122, 0.7);
	width: 400px;
	height: 78px;
	top: 50%;
	left: 50%;
	margin: -120px 0 0 -225px;
	text-align: center;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(100, 100, 100, 0.1), 0 3px 1px #D4D4D4;
	color: #555;
}

h1{
	font-size: 22px;
	padding-bottom: 8px;
}

h2{
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 8px;
}

h3{
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	color: #999;
}

#cursors{
	position:relative;
}

#cursors .cursor{
	position:absolute;
	width:15px;
	height:22px;
	background:url('../img/pointer.png') no-repeat -4px 0;
}

#paper {
	background-color: #000000;
	height:100%
	/* height: 900px; */
}

/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(201, 17, 201, 0.4);
	height: 80px!important;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}


footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}

footer p.tzine{
    color: #999999;
    font-size: 12px;
    left: 50%;
    margin: 16px 0 0 110px;
    position: absolute;
    text-decoration: none;
    top: 0;
}
#url{80
	color: white;
	display: none;
}
.share-buttons{
	height: 60px;
}
#share-link{
	width: 50%;
	height: 60px;
}
.send-message{
	width: 50%;
	height: 60px;
}
#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 350px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
	color: #f1f1f1;
  }

 

  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  .message{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important ;

	text-align: auto !important;

  }
  .openbtn:hover {
	background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }
  body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important ;
	
}

.chuyap{
	/* border-radius: 20px; */
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important ;
	width: 350px;
}
.chuyap-chat{
	border-radius: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important ;
	width: 350px;
	
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #d8d657;
}

#chat{
	width: 400px;
	height: 700px;

    margin: 30px auto;
    /* border: 1px solid rgb(224, 186, 13); */
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
	height: 600px;
	width: 400px;

    overflow: auto;
    background: #9aa4d1;
}

#output p{
    padding: 14px 0px;
	margin: 0 20px;
	width: 400px;

    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
	padding: 14px 0px;
	width: 400px;

    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}
#send{
	width: 350px;
}


label{
    box-sizing: border-box;
    display: block;
	padding: 10px 20px;
	width: 400px;

}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
